<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/btn.css">
        <link rel="stylesheet" href="/css/room/room-header.css">
        <link rel="stylesheet" href="/css/room/room-btn.css">
        <link rel="stylesheet" href="/css/create-room.css">
        <link rel="stylesheet" href="/css/room/question-form.css">
        <link rel="stylesheet" href="/css/room/question.css">
        <link rel="stylesheet" href="/css/room/modal.css">
        
        <link rel="icon" href="/img/favicon.svg">

        <script src="/js/main.js" defer type="module"></script>

        <title>Rocket.Q - Perguntas</title>
    </head>

    <body>
        <div class="content" id="room">
            <header class="header">
                <a href="/">
                    <img src="/img/logo.svg" alt="Logo Rocket.Q" class="logo">
                </a>

                <div class="btns">
                    <div class="create-room__btn btn" id="room-id" data-id="<%= roomId %>">
                        <span><input readonly value="<%= roomId %>" class="create-room__btn--textarea"></span>
                        <img src="/img/copy.svg" alt="Copiar código" class="create-room__btn--icon btn--icon">
                    </div>
                    <a href="/create-pass" class="room-pass__btn btn">
                        <img src="/img/users-white.svg" alt="Criar sala" class="room-pass__btn--icon">Criar sala
                    </a>
                </div>

                <img src="/img/moon.svg" alt="Modo noturno" class="moon-icon">
            </header>

            <main>
                <section class="question-form">

                    <h2 class="question-form__title">Faça sua pergunta</h2>
                    <form class="question-form__form" action="/question/create/<%= roomId %>" method="POST">
                        <label class="sr-only" for="question">O que você quer perguntar?</label>
                        <textarea class="question-form__input" name="question" placeholder="O que você quer perguntar?" id="question"></textarea>

                        <footer class="question-form__footer">
                            <div class="question-form__footer--container">
                                <img src="/img/lock-black.svg" alt="Cadeado" class="question-form__icon">
                                <span class="question-form__info">Esta pergunta é anônima</span>
                            </div>
                            <button class="question-form__btn submit btn">Enviar</button>
                        </footer>

                    </form>
                </section>

                <section id="questions">
                    <h2 class="sr-only questions">Perguntas da comunidade</h2>

                    <% if(isNoQuestions) { %>
                        <%- include("parts/no-question") %>
                    <% } %>

                    <% questions.forEach(question => { %>
                        <div class="question-wrapper">
                            <div class="question">
                                <div class="question__user">
                                    <img src="/img/user.svg" alt="Avatar" class="question__user-img">
                                </div>
                                
                                <div class="question__content">
                                    <p><%= question.title %></p>
                                </div>
                            </div>

                            <div class="question__actions"> 
                                <a class="question__actions--check check" href="#" data-id="<%= question.id %>">
                                    <img class="question__actions--img" src="/./img/check.svg" alt="Check"/>
                                    <p>Marcar como lida</p>
                                </a>

                                <a class="question__actions--delete delete" href="#" data-id="<%= question.id %>">
                                    <img class="question__actions--img" src="/./img/trash.svg" alt="Lixeira"/>
                                    <p>Excluir</p>
                                </a>
                            </div>
                        </div>
                    <% }) %>

                   
                    <% questionsRead.forEach(questionRead => { %>
                        <div class="question-wrapper read">
                            <div class="question">
                                <div class="question__user">
                                    <img src="/img/user.svg" alt="Avatar" class="question__user-img">
                                </div>

                                <div class="question__content">
                                    <p><%= questionRead.title %></p>
                                </div>
                            </div>

                            <div class="question__actions">
                                <a class="question__actions--delete delete" href="#" data-id="<%= questionRead.id %>">
                                    <img class="question__actions--img" src="/./img/trash.svg" alt="Lixeira"/>
                                    <p>Excluir</p>
                                </a>
                            </div>
                        </div>
                    <% }) %>

                    <div class="modal-wrapper">
                        <div class="modal">
                            <h2 class="modal__title">Excluir pergunta</h2>
                            <p class="modal__description">Tem certeza que você deseja excluir esta pergunta?</p>

                            <form class="modal__form" method="POST">
                                <label for="password" class="sr-only">Digite sua senha</label>
                                <input id="password" class="inpt" name="password" type="password" placeholder="Digite sua senha">

                                <div class="modal__form--btns">
                                    <div class="modal__form--cancel-btn btn">Cancelar</div>
                                    <button class="modal__form--confirm-btn btn">Sim, excluir</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </section>
            </main>
        </div>

        <script>
            const input = document.querySelector(".inpt")
            const txtArea = document.querySelector(".question-form__input")
            input.focus()
            txtArea.focus()
        </script>
        <script src="/js/copyRoomId.js"></script>
        <script src="/js/roomDarkMode.js"></script>

    </body>
</html>